.DS_Store

workspace.xml

.gradle

**/build/*
**/out/*
**/tmp/*

*.iml

*.log

**/logs/*

.idea

.idea/**/*.xml
.idea/*.xml
.idea/libraries/Gradle*.xml
.idea/libraries/Maven*.xml
.idea/artifacts
.idea/modules
.idea/runConfigurations/JPS_*.xml
.idea/libraries
.idea/modules.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.name